body {
    font-family: 'Carlito', sans-serif;
    font-size: 12pt;
}

/* TABLE LIGHTING */

/* THEAD */

table {
    margin: 20px 0 20px 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.7em;
}

thead>tr>td {
    border: 0.6px solid black;
    padding: 2px 0px 2px 2px;
}

.showNumbers {
    font-style: italic;
}

upperLine {
    color: black;
    border-top: 1px solid;
}

.widthColumn1 {
    width: 6mm;
}

.widthColumn2 {
    width: 65mm;
}

.widthColumn3 {
    width: 45mm;
}

.widthColumn4 {
    width: 14mm;
}

.widthColumn5 {
    width: 12mm;
}

.widthColumn6 {
    width: 11mm;
}

.widthColumn7 {
    width: 11mm;
}

.widthColumn8 {
    width: 12mm;
}

/* TBODY */

tbody>tr>td {
    border-left: 0.6px solid black;
    border-right: 0.6px solid black;
    padding: 0;
}

.numberLp,
.place,
.measurings,
.wynik-1,
.norma-1,
.wynik-2,
.norma-2,
.compatibility,
textarea {
    text-align: center;
    font-family: 'Carlito', sans-serif;
    box-sizing: border-box;
    border: 0px;
    padding: 0 3px 0 3px;
    width: 95%;
    resize: vertical;
}

.place {
    text-align: left;
}

.measuringsError {
    border: 3px solid red;
}

.measuringsToLow {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 50%;
}

.tableTextBold {
    font-weight: 800;
}

.isRedOutline {
    border: 2px solid red;
}

.isGreenOutline {
    border: 2px solid green;
}

.tdThinLine {
    font-size: 0.0em;
    border-top: 0.6px solid black;
}

.inputThinLine {
    font-size: 0.0em;
    line-height: .0px;
}

.tdThinLineLarger {
    font-size: 0.1em;
    /* border: 0.6px solid black; */
}

input[type="text"]:disabled {
    background: #ffffff;
    color: black;
}


.addGreyBackground {
    background-color: rgb(223, 223, 223);
}

/* TABLE LIGHTING - END */


/* TABLE LIGHTING - MENU */

.tableAndMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menu,
.menuButtonsInLine {
    font-size: 0.65em;
}

button {
    font-size: 0.80em;
}

.tableAndMenu .menuElements {
    position: sticky;
    top: 66px;
    background-color: rgb(210, 237, 241);
    width: 70px;
    padding: 2px 0 5px 0;
}

.tableAndMenu .menuElements boldi {
    font-weight: 800;
}

.tableAndMenu button {
    margin: 7px 7px;
    padding: 1px;
    width: 56px;
    cursor: pointer;
}

.tableAndMenu .textMenu {
    color: rgb(11, 114, 130);
    margin: 5px 0 0 4px;
    line-height: 11px;
    cursor: default;
}

.allDescription {
    background-color: whitesmoke;
    position: fixed;
    left: -230px;
    width: 500px;
    color: whitesmoke;
    padding: 15px 5px 15px 10px;
    transition: color 3s ease, transform 0.4s ease;
}



/* CHECK BOX */

.checkboxDiv {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 8px;
    color: rgb(89, 89, 89);
}

input[type="checkbox"] {
    cursor: pointer;
}

.redLabel {
    color: rgb(249, 0, 0);
}

.greenLabel {
    color: rgb(32, 118, 5);
}

/* SHOW BUTTONS AND CHECKBOXES HELP */

.tableMenuDescriptionVisible {
    visibility: visible;
    transform: translateX(400px);
    color: black;
    line-height: 1.6em;
}

/* DISPLAY HELP */

.tableMenuDescription1 {
    width: 200px;
    top: 60px;
}

.tableMenuDescription2 {
    top: 70px;
    width: 200px;
}

.tableMenuDescription3 {
    top: 80px;
    width: 200px;
}

.tableMenuDescription4 {
    top: 90px;
    width: 200px;
}

.tableMenuDescription5 {
    top: 100px;
    width: 200px;
}

.tableMenuDescription6 {
    top: 110px;
    width: 200px;
}

.tableMenuDescription100 {
    top: 60px;
    width: 100px;
}

.tableMenuDescription101 {
    top: 80px;
    width: 100px;
}

.tableMenuDescription102 {
    top: 100px;
    width: 100px;
}

.tableMenuDescription103 {
    top: 130px;
    width: 100px;
}

.tableMenuHide {
    display: none;
}

/* MENU Z-Index */

.menuCheckboxes,
.menuButtons {
    position: relative;
    z-index: 22;
}

.menuCheckboxesDescriptions,
.menuButtonsDescriptions {
    z-index: 2;
    position: relative;
}


/* END - MENU TABLE */

/* MENU - CONFIRMATION OF EXECUTION */

.confContainerParent {
    position: fixed;
    left: 10px;
    bottom: 25px;
    width: 70px;
    height: 10px;
    z-index: 0;
}

.confContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.confElement {
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.confElementChange {
    background-color: rgb(255, 201, 204);
    opacity: 1;
    transform: translateY(10px);
}

/* END  MENU - CONFIRMATION OF EXECUTION */