body {
    font-family: 'Carlito', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 14px;
    width: 210mm;
    /* height: 297mm; */
    border: 1px solid red;
    box-sizing: border-box;
    padding: 1mm 7mm 2mm 31mm;
    margin: 0;
}

.siteHeaderTable1 {
    font-weight: 700;
    margin-bottom: 0;
}

.siteTitle {
    font-weight: 700;
    text-align: center;
    margin: 0;
}

.customer {
    font-weight: 400;
    text-align: left;
    margin: 5px 0 5px 0;
}

.tableContainer {
    margin: 20px 0 20px 0;
    border-collapse: collapse;
}

.tableGeneral {
    border: 1px solid rgb(10, 10, 10);
    text-align: center;
    margin: 0;
    font-size: 0.9em;
}

.tableLineUp {
    border-bottom: 2px solid red;
}

.tableNumber {
    font-size: 0.69em;
    font-style: italic;
}

.cellInput {
    width: 98%;
}

.cell007mm {
    width: 7mm;
}

.cell012mm {
    width: 12mm;
}

.cell016mm {
    width: 16mm;
}

.cell018mm {
    width: 18mm;
}

.cell045mm {
    width: 50mm;
}

.cell050mm {
    width: 55mm;
}

input,
textarea {
    font-size: 0.9em;
    border: 0;
    font-family: 'Carlito', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

.button {
    margin: 10px;
    padding: 7px;
    width: 80px;
    font-size: 0.8em;
}

.footerButtonsWithDescription {
    display: grid;
    grid-template-columns: 100px 80%;
}

.footerOnlyButtons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

footer div p {
    font-size: 0.9em;
    line-height: 1.4em;
}