body {
    font-family: 'Carlito', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    width: 210mm;
    height: 297mm;
    border: 1px solid rgb(125, 125, 125);
    box-sizing: border-box;
    padding: 1mm 14mm 2mm 24mm;
    margin: 0;
}

/* ABOVE TABLE  */


.threeColumns {
    font-family: 'Carlito', sans-serif;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    display: grid;
    column-gap: 0px;
    grid-template-columns: 25% 50% 25%;
    border: 0.6px solid black;
    margin: 60px auto 30px auto;
}

.threeColumns span {
    width: 100%;
    height: 100%;
    padding: 3px;
    margin: 0;
    border: 0.6px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.threeColumns p {
    width: 100%;
    height: 100%;
    padding: 10px 0 0 0;
    margin: 0;
    border: 0.6px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

.threeColumns .yearTSO {
    width: 24px;
    border: 0;
    font-size: 9px;
    text-align: left;
}

.threeColumns .numberTSO,
.threeColumns .pageTSO,
.threeColumns .pagesTSO {
    width: 12px;
    border: 0;
    font-size: 9px;
}

.threeColumns .pageTSO {
    text-align: right;
}

.threeColumns .pagesTSO {
    text-align: left;
}

.threeColumns .numberTSO {
    width: 15px;
    text-align: center;
}

.upperText {
    /* font-size: 12pt; */
    font-weight: 600;
}

.table1Text {
    margin-bottom: 0;
    background-color: #ffffff;
    border: 0;
    cursor: pointer;
    font-weight: 600;
    font-size: 12pt;
}

.badania {
    font-size: 15pt;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 30px 0;
}

.customerGrid {
    display: grid;
    grid-template-columns: 180px auto;
    margin: 0 0 6px 10px;
}

.customerLabel {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.castomerInput {
    font-size: 11pt;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
}

#researchDate {
    border: 0;
    font-size: 9pt;
}

/* PARAMETERS OF TABLE  */
/* THEAD */
table {
    margin: 20px 0 20px 0;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.7em;
}

thead>tr>td {
    border: 0.6px solid black;
    padding: 2px 0px 2px 2px;
}

.showNumbers {
    font-style: italic;
}

upperLine {
    color: black;
    border-top: 1px solid;
}

.widthColumn1 {
    width: 6mm;
}

.widthColumn2 {
    width: 65mm;
}

.widthColumn3 {
    width: 45mm;
}

.widthColumn4 {
    width: 14mm;
}

.widthColumn5 {
    width: 12mm;
}

.widthColumn6 {
    width: 11mm;
}

.widthColumn7 {
    width: 11mm;
}

.widthColumn8 {
    width: 12mm;
}

/* TBODY */

tbody>tr>td {
    border-left: 0.6px solid black;
    border-right: 0.6px solid black;
    padding: 0;
}

.numberLp,
.place,
.measurings,
.wynik-1,
.norma-1,
.wynik-2,
.norma-2,
.compatibility,
textarea {
    text-align: center;
    font-size: .9em;
    font-family: 'Carlito', sans-serif;
    box-sizing: border-box;
    border: 0px;
    padding: 0 3px 0 3px;
    width: 95%;
    resize: vertical;
}

.place {
    text-align: left;
}

.measuringsError {
    border: 3px solid red;
}

.measuringsToLow {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 50%;
}

.tableTextBold {
    font-weight: 800;
}

.isRedOutline {
    border: 2px solid red;
}

.tdThinLine {
    font-size: 0.0em;
    border-top: 0.6px solid black;
}

.tdThinLineLarger {
    font-size: 0.1em;
    /* border: 0.6px solid black; */
}

input[type="text"]:disabled {
    background: #ffffff;
    color: black;
}


.addGreyBackground {
    background-color: rgb(223, 223, 223);
}


/* UNDER TABLE */

/* CHECK BOX */

.checkboxDiv {
    display: flex;
    align-items: center;
}

.labelCB {
    font-size: 0.56em;
}

input[type="checkbox"] {
    width: 8px;
    color: rgb(89, 89, 89);
}

input[type="checkbox"],
label:hover {
    cursor: pointer;
}

.redLabel {
    color: rgb(249, 0, 0);
}


/* BUTTONS */

.buttonsShowAll {
    position: relative;
    z-index: 2;
}

.buttonsDescriptions {
    z-index: 1;
    position: relative;
}

.textMenu {
    color: rgb(11, 139, 75);
    font-size: 9px;
    margin: 5px 0 0 4px;
    line-height: 11px;
    cursor:default;
}

.footerDisplayThinLeft {
    background-color: rgb(210, 241, 223);
    position: fixed;
    top: 30px;
    left: 10px;
    width: 70px;
    
}

.allDescription {
    background-color: rgb(210, 241, 223);
    position: fixed;
    left: -510px;
    width: 500px;
    font-size: 10px;
    padding: 15px 5px 15px 10px;
    transition: transform 0.4s ease-out;
}

.footerDisplayDescription0 {
    top: 50px;
}

.footerDisplayDescription1 {
    top: 72px;
}

.footerDisplayDescription2 {
    top: 91px;
}

.footerDisplayDescription3 {
    top: 114px;
}

.footerDisplayDescription4 {
    top: 135px;
}

.footerDisplayDescription5 {
    top: 165px;
}

.footerDisplayDescription6 {
    top: 220px;
}

.footerDisplayDescription7 {
    top: 240px;
}

.footerDisplayDescriptionVisible {
    visibility: visible;
    transform: translateX(600px) ;
}


.button {
    margin: 2px 0 0 4px;
    padding: 2px;
    width: 60px;
    font-size: 0.5em;
}

.button:hover {
    cursor: pointer;
}

footer div p {
    font-size: 0.8em;
    line-height: 1.4em;
}

.info {
    text-align: center;
    font-size: 0.4em;
    margin: 16px 0 6px 0;
}

.footerHide {
    display: none;
}