

/* MAIN WINDOW */

.entry {
    font-weight: 600;
    text-align: center;
    margin: 20px 0 30px 0;
}

.reportTitle {
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    margin: 20px 0 30px 0;
}

.reportTitle input {
    text-align: center;
    width: 87px;
    margin: 5px;
    font-size: 0.85em;
}

.reportTitle p {
    margin: 50px auto 0 auto;
}

.reportTitle span {
    margin: 40px auto 50px auto;
}

.reportSubtitle {
    font-weight: 600;
}

.customerGrid {
    display: grid;
    align-items: center;
    grid-template-columns: 180px auto;
    margin: 0 0 6px 10px;
}

.customerLabel {
    /* font-size: 1em; */
    font-weight: 400;
    text-align: left;
    margin: 0;
}

.customerInput {
    max-width: 340px;
    font-size: .9em;
    font-weight: 600;
    text-align: left;
    margin: 0;
    padding: 4px;
    border: 1px solid rgb(143, 116, 116);
}

.tableSummary {
    margin: 20px 0 10px 10px;
    text-align: center;
    padding: 6px;
    border-collapse: collapse;
    border: 1px solid rgb(0, 0, 0);
}

.tableSummary td {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 9px 0px 9px;
}

.tableSummary tr {
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.tableSummary .customerLabel {
    text-align: center;
    font-size: 9pt;
    width: 100px;
}

.tableSummary .customerInput {
    font-size: 9pt;
    font-weight: 600;
    text-align: center;
    width: 90px;
    margin: 10px;
    padding: 1px;
    border: 1px solid rgb(143, 116, 116);
}

.tableSummary #researchDate {
    width: 140px
}

.fieldToFill {
    background-color: rgb(243, 251, 254);
    border: 0.6px solid black;
}

/* END MAIN WINDOW */


/* MENU - CONFIRMATION OF EXECUTION */

.confContainerParent {
    position: fixed;
    left: 10px;
    bottom: 25px;
    width: 70px;
    height: 10px;
    z-index: 0;
}

.confContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.confElement {
    font-size: 16px;
    opacity: 0;
    transition: all 0.2s ease-in;
}

.confElement .miniN {
    font-size: 15px;
}

.confElementChange {
    background-color: rgb(201, 241, 255);
    opacity: 1;
    transform: translateY(10px);
}

/* END  MENU - CONFIRMATION OF EXECUTION */