.point1_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point1_1 textarea {
    font-family: 'Carlito', sans-serif;
    margin: 10px 10px;
    font-size: .9em;
    font-weight: 400;
    text-align: left;
    padding: 4px;
    border: 1px solid rgb(109, 185, 119);
    width: 580px;
}

.reportSubtitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
    max-width: 80%;
}

.reportSubtitle button {
    color: cadetblue;
    font-size: 0.65em;
    border: solid 1px cadetblue;
}

.dialogBoxPoint3 .container {
    display: flex;
    justify-content: left;
    align-items: start;
    gap: 10px;
    margin-left: 15px;
    font-size: 1em;
}

.dialogBoxPoint3 .container div {
    margin: 7px 0; 
}

.dialogBoxPoint3 .boxLeft,
.dialogBoxPoint3 .boxCenter,
.dialogBoxPoint3 .boxRight {
    margin: 7px 0;
    padding: 0 6px;
    background-color: rgb(244, 244, 244); 
}

.dialogBoxPoint3 .boxLeft {
    flex-grow: 0.1;
    /* flex-basis: 0; */
}

.dialogBoxPoint3 .boxCenter {
    flex-grow: 1.28;
    /* flex-basis: 0; */
}

.dialogBoxPoint3 .boxRight {
    flex-grow: 0.1;
    /* flex-basis: 0; */
    line-height: 25px;
}

.dialogBoxPoint3 .bolded {
    font-weight: 600;
}

.dialogBoxPoint3 .addedColor {
    color: red;
    font-weight: 600;
}

.dialogBoxPoint3 .shortNameColor {
    font-style: oblique;
    font-weight: 600;
}

.dialogBoxPoint3 .finger {
    cursor: pointer;
}

.wider900 {
    width: 500px;
}