.point3 .container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 10px;
    margin: 15px;
    font-size: 0.7em;
}

.point3 .container div {
    margin: 7px 0;
    line-height: 1.8em;
}

.point3 .boxLeft,
.point3 .boxCenter,
.point3 .boxRight {
    margin: 7px 0;
    padding: 0 6px;
    background-color: rgb(244, 244, 244);
}

.point3 .boxLeft {
    flex-grow: 0.5;
    flex-basis: 0;
    position: sticky;
    top: 60px;
}

.point3 .boxCenter {
    flex-grow: 0.6;
    flex-basis: 0;
}

.point3 .boxRight {
    flex-grow: 0.8;
    flex-basis: 0;
    line-height: 1.5em;
    position: sticky;
    top: 60px;
}

.point3 .bolded {
    font-weight: 600;
}

.point3 .addedColor {
    color: red;
    font-weight: 600;
}

.point3 .shortNameColor {
    font-style: oblique;
    font-weight: 600;
}

.point3 .finger {
    cursor: pointer;
}

.wider900 {
    width: 700px;
}

.point3 .inform {
    color: rgb(47, 103, 107);
    font-size: 0.72em;
}

.point3 .contentCenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}

.point3 .contentCenter input,
.point3 .contentCenter p {
    margin: 0;
    padding: 0;
}

/* .point3 .contentCenter input:checked {} */

.point3 .contentCenter span {
    margin: 0 10px 0 0;
}


.point3 .addedItem {
    margin: 7px 0;
    line-height: 1.6em;
}

.point3 .addedItem input {
    margin: 0 5px;
}

.point3 .addedItem span {
    font-weight: 600;
    margin: 0 10px 0 0;
}

.point3 .buttonPt3 {
    font-size: 0.76em;
    margin: 5px 10px;
    /* color:red; */
}

.point3input1 {
    width: 540px;
    font-size: .9em;
    font-weight: 600;
    font-family: 'Carlito', sans-serif;
    background-color: rgba(255, 0, 0, 0.0);
    border: 0;
    margin: 7px 0 3px 0;
}

.point3input2 {
    width: 550px;
    font-size: .9em;
    font-family: 'Carlito', sans-serif;
    border: 1.6px solid rgb(214, 225, 221, 0.5);
}

.point3 .factor {
    font-weight: 600;
    font-style:oblique;
    line-height: 1.2em;
    font-size: .8em;
}