.point3 .container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    gap: 10px;
    margin: 15px;
    font-size: 0.7em;
}

.point3 .container div {
    margin: 7px 0;
}

.point3 .boxLeft,
.point3 .boxCenter,
.point3 .boxRight {
    margin: 7px 0;
    padding: 0 6px;
    background-color: rgb(244, 244, 244);
}

.point3 .boxLeft {
    flex-grow: 0.5;
    flex-basis: 0;
    position: sticky;
    top: 60px;
}

.point3 .boxCenter {
    flex-grow: 0.6;
    flex-basis: 0;
    /* width:auto; */
}

.point3 .boxRight {
    flex-grow: 0.8;
    flex-basis: 0;
    /* width: fit-content; */
    line-height: 1.5em;
    position: sticky;
    top: 60px;
}

.point3 .bolded {
    font-weight: 600;
}

.point3 .addedColor {
    color: red;
    font-weight: 600;
}

.point3 .shortNameColor {
    font-style: oblique;
    font-weight: 600;
}

.point3 .finger {
    cursor: pointer;
}

.wider900 {
    width: 700px;
}

.point3 .inform {
    color: rgb(47, 103, 107);
    font-size: 0.72em;
}

.point3 .contentCenter {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 7px;
}

.point3 .contentCenter input {
    margin: 0;
}

.point3 .addedItem {
    /* display: flex; */
    align-items: center;
    margin: 5px 0;
}

.point3 .addedItem input {
    margin: 0 5px;
}

.point3 .addedItem span {
    font-weight: 600;
    margin: 0 10px 0 0;
}