/* TABLE LIGHTING */

/* THEAD */

.tableLight {
    border-collapse: collapse;
    margin: 20px 0 20px 0;
    font-family: 'Carlito', sans-serif;
    font-size: .7em;
    text-align: center;
}

.tableLight thead>tr>td {
    border: 0.6px solid black;
    padding: 2px 0px 2px 2px;
}

.showNumbers {
    font-style: italic;
}

upperLine {
    color: black;
    border-top: 1px solid;
}

.tableLight .widthColumn1 {
    width: 6mm;
}

.tableLight .widthColumn2 {
    width: 65mm;
}

.tableLight .widthColumn3 {
    width: 45mm;
}

.tableLight .widthColumn4 {
    width: 12mm;
}

.tableLight .widthColumn5 {
    width: 12mm;
}

.tableLight .widthColumn6 {
    width: 12mm;
}

.tableLight .widthColumn7 {
    width: 12mm;
}

.tableLight .widthColumn8 {
    width: 12mm;
}

/* TBODY */

.tableLight tbody>tr>td {
    border-left: 0.6px solid black;
    border-right: 0.6px solid black;
    padding: 0;
    color: blue;

}

.tableLight .numberLp,
.tableLight .place,
.tableLight .measurings,
.tableLight .wynik-1,
.tableLight .norma-1,
.tableLight .wynik-2,
.tableLight .norma-2,
.tableLight .compatibility,
.tableLight textarea {
    text-align: center;
    font-family: 'Carlito', sans-serif;
    font-size: 1.2em;
    box-sizing: border-box;
    border: 0px;
    padding: 0 3px 0 3px;
    width: 95%;
    resize: vertical;
}

.tableLight .place {
    text-align: left;
}

.tableLight .measuringsError {
    border: 3px solid red;
}

.tableLight .measuringsToLow {
    border-bottom: 2px solid rgb(0, 0, 0);
    width: 80%;
}

.tableLight .tableTextBold {
    font-weight: 800;
}

.tableLight .isRedOutline {
    border: 2px solid red;
}

.tableLight .isGreenOutline {
    border: 2px solid green;
}

.tableLight .tdThinLine {
    font-size: 0.0em;
    border-top: 0.6px solid black;
}

.tableLight .inputThinLine {
    font-size: 0.0em;
    line-height: .0px;
}

.tableLight .tdThinLineLarger {
    font-size: 0.1em;
    /* border: 0.6px solid black; */
}

.tableLight input[type="text"]:disabled {
    background: #ffffff;
    color: black;
}


.tableLight .addGreyBackground {
    background-color: rgb(223, 223, 223);
}

/* TBODY BACKGROUND COLORS  */

.tableLight .rowTextBold,
.tableLight .rowTextBold textarea,
.tableLight .rowTextBold input[type="text"],
.tableLight .rowTextBold input[type="text"]:disabled {
    background-color: rgb(249, 244, 250);
}

.tableLight .rowText,
.tableLight .rowText textarea,
.tableLight .rowText input[type="text"] {
    background-color: rgb(253, 252, 233);
}

.tableLight .rowDate,
.tableLight .rowDate textarea,
.tableLight .rowDate input[type="text"] {
    background-color: rgb(241, 253, 241);
}

/* TBODY BACKGROUND COLORS - END */

/* TABLE LIGHTING - END */


/* TABLE LIGHTING - MENU */

.tableAndMenu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.menuButtonsInLine {
    font-size: .7em;
    /* background-color: aqua; */
    margin-bottom: 40px;
}

button {
    font-size: 0.9em;
}

.tableAndMenu .menuElements {
    position: sticky;
    top: 66px;
    background-color: rgb(210, 237, 241);
    width: 70px;
    padding: 2px 0 5px 0;
}

.tableAndMenu .menuElements boldi {
    font-weight: 800;
}

.tableAndMenu button {
    margin: 7px 7px;
    padding: 1px;
    width: 56px;
    cursor: pointer;
}

.tableAndMenu .textMenu {
    color: rgb(11, 114, 130);
    margin: 5px 0 0 4px;
    line-height: 11px;
    cursor: default;
}

.allDescription {
    background-color: whitesmoke;
    position: fixed;
    left: -330px;
    width: 500px;
    color: whitesmoke;
    padding: 15px 5px 15px 10px;
    transition: color 3s ease, transform 0.4s ease;
}



/* CHECK BOX */

.checkboxDiv {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 10px;
    color: rgb(89, 89, 89);
}

input[type="checkbox"] {
    cursor: pointer;
}

.redLabel {
    color: rgb(249, 0, 0);
}

.greenLabel {
    color: rgb(32, 118, 5);
}

/* SHOW BUTTONS AND CHECKBOXES HELP */

.tableMenuDescriptionVisible {
    visibility: visible;
    transform: translateX(500px);
    color: black;
    line-height: 1.6em;
}

/* DISPLAY HELP */

.tableMenuDescription1 {
    width: 300px;
    top: 60px;
}

.tableMenuDescription2 {
    top: 70px;
    width: 300px;
}

.tableMenuDescription3 {
    top: 80px;
    width: 300px;
}

.tableMenuDescription4 {
    top: 90px;
    width: 300px;
}

.tableMenuDescription5 {
    top: 100px;
    width: 300px;
}

.tableMenuDescription6 {
    top: 110px;
    width: 300px;
}

.tableMenuDescription7 {
    top: 120px;
    width: 300px;
}

.tableMenuDescription100 {
    top: 60px;
    width: 300px;
}

.tableMenuDescription101 {
    top: 80px;
    width: 300px;
}

.tableMenuDescription102 {
    top: 100px;
    width: 300px;
}

.tableMenuDescription103 {
    top: 130px;
    width: 300px;
}

.tableMenuHide {
    display: none;
}

/* MENU Z-Index */

.menuCheckboxes,
.menuButtons {
    position: relative;
    z-index: 22;
}

.menuCheckboxesDescriptions,
.menuButtonsDescriptions {
    z-index: 2;
    position: relative;
}

/* END - MENU TABLE */


/* DIALOG BOX ADD ROW*/

.dialogBoxParent_Add {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 0.6em;
}

.dialogBox_Add {
    background-color: rgb(210, 241, 223);
    box-shadow: 10px 10px 5px rgb(218, 218, 218);
}

.dialogBoxHeader_Add {
    width: 215px;
    height: 20px;
    box-sizing: border-box;
    background-color: rgb(171, 216, 214);
    padding: 4px 0 0 10px;
}

.dialogBoxChild_Add {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 215px;
    height: 214px;
}

.selectNarrow {
    width: 165px;
    margin: 6px 10px 1px 16px;
    border: 1px solid rgb(136, 191, 188);
}

legend {
    color: rgb(46, 113, 110);
}

.input_Add {
    display: flex;
    justify-content: left;
    align-items: center;
}

.dialogBoxChild_Add input {
    margin: 2px 4px 0 2px;
    width: 8px;
    background-color: rgb(237, 252, 243);
}

.dialogBoxChild_Add button {
    margin: 0 2px;
    padding: 2px 6px;
    font-size: 0.8em;
}

.btnLayout_Add {
    width: 160px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding: 6px 0px 0 0;
}

.point5 .inform {
    color: rgb(47, 103, 107);
    font-size: 0.72em;
}

.img {
    margin-left: 30px;
    /* border: 1px solid red; */
}
.help {
    margin-left: 12px;
    /* background-color: rgb(133, 223, 228); */
    /* padding: 5px; */
}